In [1]:
import pandas as pd
import ast

In [2]:
df_movie_meta= pd.read_csv('Data/IMDB/movies_metadata.csv')
df_movie_rating= pd.read_csv('Data/IMDB/ratings.csv')
df_movie_action= pd.read_csv('Data/TMDB/action.csv')
df_movie_ad= pd.read_csv('Data/TMDB/adventure.csv')
df_movie_animation= pd.read_csv('Data/TMDB/animation.csv')
df_movie_biography= pd.read_csv('Data/TMDB/biography.csv')
df_movie_crime= pd.read_csv('Data/TMDB/crime.csv')
df_movie_family= pd.read_csv('Data/TMDB/family.csv')
df_movie_fantasy= pd.read_csv('Data/TMDB/fantasy.csv')
df_movie_film_noir= pd.read_csv('Data/TMDB/film-noir.csv')
df_movie_history= pd.read_csv('Data/TMDB/history.csv')
df_movie_horror= pd.read_csv('Data/TMDB/horror.csv')
df_movie_mystery= pd.read_csv('Data/TMDB/mystery.csv')
df_movie_romance= pd.read_csv('Data/TMDB/romance.csv')
df_movie_scifi= pd.read_csv('Data/TMDB/scifi.csv')
df_movie_sports= pd.read_csv('Data/TMDB/sports.csv')
df_movie_thriller= pd.read_csv('Data/TMDB/thriller.csv')
df_movie_war= pd.read_csv('Data/TMDB/war.csv')
df_tmdb_links = pd.read_csv('Data/IMDB/links.csv')

/var/folders/dq/43_5rtyn5lz1p4vkq89ykdw40000gn/T/ipykernel_6236/2226322677.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movie_meta= pd.read_csv('Data/IMDB/movies_metadata.csv')

In [3]:
# Set the option to display all columns
pd.set_option('display.max_columns', None)

# Display the first few rows of the DataFrame
df_movie_meta.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [4]:

# List of DataFrames
dfs = [
    df_movie_action, df_movie_ad, df_movie_animation, df_movie_biography,
    df_movie_crime, df_movie_family, df_movie_fantasy, df_movie_film_noir,
    df_movie_history, df_movie_horror, df_movie_mystery, df_movie_romance,
    df_movie_scifi, df_movie_sports, df_movie_thriller, df_movie_war
]

# Merge DataFrames with full outer join on 'id' and 'movie_id'
df_merged_movies = pd.concat(dfs, axis=0, join='outer', ignore_index=True, sort=False, keys=['id', 'movie_id'])

In [5]:
df_merged_movies.isna().sum()

movie_id           0
movie_name         0
year           11948
certificate    56368
runtime        27136
genre              0
rating         31586
description        0
director        6635
director_id     6635
star           13182
star_id        11369
votes          31583
gross(in $)    73268
dtype: int64

In [6]:
df_merged_movies.head()

,movie_id,movie_name,year,certificate,runtime,genre,rating,description,director,director_id,star,star_id,votes,gross(in $)
0,tt9114286,Black Panther: Wakanda Forever,2022,PG-13,161 min,"Action, Adventure, Drama",6.9,The people of Wakanda fight to protect their h...,Ryan Coogler,/name/nm3363032/,"Letitia Wright, \nLupita Nyong'o, \nDanai Guri...","/name/nm4004793/,/name/nm2143282/,/name/nm1775...",204835.0,NaN
1,tt1630029,Avatar: The Way of Water,2022,PG-13,192 min,"Action, Adventure, Fantasy",7.8,Jake Sully lives with his newfound family form...,James Cameron,/name/nm0000116/,"Sam Worthington, \nZoe Saldana, \nSigourney We...","/name/nm0941777/,/name/nm0757855/,/name/nm0000...",295119.0,NaN
2,tt5884796,Plane,2023,R,107 min,"Action, Thriller",6.5,A pilot finds himself caught in a war zone aft...,Jean-François Richet,/name/nm0724938/,"Gerard Butler, \nMike Colter, \nTony Goldwyn, ...","/name/nm0124930/,/name/nm1591496/,/name/nm0001...",26220.0,NaN
3,tt6710474,Everything Everywhere All at Once,2022,R,139 min,"Action, Adventure, Comedy",8.0,A middle-aged Chinese immigrant is swept up in...,"Dan Kwan, \nDaniel Scheinert",/name/nm3453283/,"Michelle Yeoh, \nStephanie Hsu, \nJamie Lee Cu...","/name/nm3215397/,/name/nm0000706/,/name/nm3513...",327858.0,NaN
4,tt5433140,Fast X,2023,NaN,NaN,"Action, Crime, Mystery",NaN,Dom Toretto and his family are targeted by the...,Louis Leterrier,/name/nm0504642/,"Vin Diesel, \nJordana Brewster, \nTyrese Gibso...","/name/nm0004874/,/name/nm0108287/,/name/nm0879...",NaN,NaN

In [7]:
df_merged_movies['gross(in $)'].isna().sum()

73268

In [8]:
# Assuming you have a DataFrame 'df'
df_merged_movies.rename(columns={'gross(in $)': 'revenue'}, inplace=True)

In [9]:
df_merged_movies.shape

(78116, 14)

In [10]:
df_merged_movies['movie_id'] = pd.to_numeric(df_merged_movies['movie_id'].str.replace('tt', ''), errors='coerce')

In [11]:
df_merged_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78116 entries, 0 to 78115
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movie_id     78116 non-null  int64
 1   movie_name   78116 non-null  object
 2   year         66168 non-null  object
 3   certificate  21748 non-null  object
 4   runtime      50980 non-null  object
 5   genre        78116 non-null  object
 6   rating       46530 non-null  float64
 7   description  78116 non-null  object
 8   director     71481 non-null  object
 9   director_id  71481 non-null  object
 10  star         64934 non-null  object
 11  star_id      66747 non-null  object
 12  votes        46533 non-null  float64
 13  revenue      4848 non-null   float64
dtypes: float64(3), int64(1), object(10)
memory usage: 8.3+ MB

In [12]:
df_merged_movies.head()

,movie_id,movie_name,year,certificate,runtime,genre,rating,description,director,director_id,star,star_id,votes,revenue
0,9114286,Black Panther: Wakanda Forever,2022,PG-13,161 min,"Action, Adventure, Drama",6.9,The people of Wakanda fight to protect their h...,Ryan Coogler,/name/nm3363032/,"Letitia Wright, \nLupita Nyong'o, \nDanai Guri...","/name/nm4004793/,/name/nm2143282/,/name/nm1775...",204835.0,NaN
1,1630029,Avatar: The Way of Water,2022,PG-13,192 min,"Action, Adventure, Fantasy",7.8,Jake Sully lives with his newfound family form...,James Cameron,/name/nm0000116/,"Sam Worthington, \nZoe Saldana, \nSigourney We...","/name/nm0941777/,/name/nm0757855/,/name/nm0000...",295119.0,NaN
2,5884796,Plane,2023,R,107 min,"Action, Thriller",6.5,A pilot finds himself caught in a war zone aft...,Jean-François Richet,/name/nm0724938/,"Gerard Butler, \nMike Colter, \nTony Goldwyn, ...","/name/nm0124930/,/name/nm1591496/,/name/nm0001...",26220.0,NaN
3,6710474,Everything Everywhere All at Once,2022,R,139 min,"Action, Adventure, Comedy",8.0,A middle-aged Chinese immigrant is swept up in...,"Dan Kwan, \nDaniel Scheinert",/name/nm3453283/,"Michelle Yeoh, \nStephanie Hsu, \nJamie Lee Cu...","/name/nm3215397/,/name/nm0000706/,/name/nm3513...",327858.0,NaN
4,5433140,Fast X,2023,NaN,NaN,"Action, Crime, Mystery",NaN,Dom Toretto and his family are targeted by the...,Louis Leterrier,/name/nm0504642/,"Vin Diesel, \nJordana Brewster, \nTyrese Gibso...","/name/nm0004874/,/name/nm0108287/,/name/nm0879...",NaN,NaN

In [13]:
df_merged_movies['revenue'].count()

4848

In [14]:
df_tmdb_links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [15]:
df_tmdb_links.isna().sum()

movieId      0
imdbId       0
tmdbId     219
dtype: int64

In [16]:
tmdb_df = pd.merge(df_tmdb_links, df_merged_movies, left_on='tmdbId', right_on='movie_id', how='right')

In [17]:
tmdb_df.head()

,movieId,imdbId,tmdbId,movie_id,movie_name,year,certificate,runtime,genre,rating,description,director,director_id,star,star_id,votes,revenue
0,NaN,NaN,NaN,9114286,Black Panther: Wakanda Forever,2022,PG-13,161 min,"Action, Adventure, Drama",6.9,The people of Wakanda fight to protect their h...,Ryan Coogler,/name/nm3363032/,"Letitia Wright, \nLupita Nyong'o, \nDanai Guri...","/name/nm4004793/,/name/nm2143282/,/name/nm1775...",204835.0,NaN
1,NaN,NaN,NaN,1630029,Avatar: The Way of Water,2022,PG-13,192 min,"Action, Adventure, Fantasy",7.8,Jake Sully lives with his newfound family form...,James Cameron,/name/nm0000116/,"Sam Worthington, \nZoe Saldana, \nSigourney We...","/name/nm0941777/,/name/nm0757855/,/name/nm0000...",295119.0,NaN
2,NaN,NaN,NaN,5884796,Plane,2023,R,107 min,"Action, Thriller",6.5,A pilot finds himself caught in a war zone aft...,Jean-François Richet,/name/nm0724938/,"Gerard Butler, \nMike Colter, \nTony Goldwyn, ...","/name/nm0124930/,/name/nm1591496/,/name/nm0001...",26220.0,NaN
3,NaN,NaN,NaN,6710474,Everything Everywhere All at Once,2022,R,139 min,"Action, Adventure, Comedy",8.0,A middle-aged Chinese immigrant is swept up in...,"Dan Kwan, \nDaniel Scheinert",/name/nm3453283/,"Michelle Yeoh, \nStephanie Hsu, \nJamie Lee Cu...","/name/nm3215397/,/name/nm0000706/,/name/nm3513...",327858.0,NaN
4,NaN,NaN,NaN,5433140,Fast X,2023,NaN,NaN,"Action, Crime, Mystery",NaN,Dom Toretto and his family are targeted by the...,Louis Leterrier,/name/nm0504642/,"Vin Diesel, \nJordana Brewster, \nTyrese Gibso...","/name/nm0004874/,/name/nm0108287/,/name/nm0879...",NaN,NaN

In [18]:
tmdb_df.isna().sum()

movieId        74120
imdbId         74120
tmdbId         74120
movie_id           0
movie_name         0
year           11948
certificate    56370
runtime        27136
genre              0
rating         31586
description        0
director        6635
director_id     6635
star           13182
star_id        11369
votes          31583
revenue        73271
dtype: int64

In [19]:
df_movie_meta.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [20]:
df_movie_meta.rename(columns={'genres': 'genre', 'imdb_id':'imdbId'}, inplace=True)

In [21]:
df_movie_meta['imdbId'] = pd.to_numeric(df_movie_meta['imdbId'].str.replace('tt', ''), errors='coerce')

In [22]:
df_movie_meta.head()

,adult,belongs_to_collection,budget,genre,homepage,id,imdbId,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,114709.0,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,113497.0,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,113228.0,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,114885.0,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,113041.0,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [23]:
movie_df = pd.merge(df_movie_meta, tmdb_df, left_on='imdbId', right_on='imdbId', how='outer')

In [24]:
movie_df.rename(columns={'genre_x': 'genre'}, inplace=True)

In [25]:
movie_df.tail()

,adult,belongs_to_collection,budget,genre,homepage,id,imdbId,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue_x,runtime_x,spoken_languages,status,tagline,title,video,vote_average,vote_count,movieId,tmdbId,movie_id,movie_name,year,certificate,runtime_y,genre_y,rating,description,director,director_id,star,star_id,votes,revenue_y
1306174,NaN,NaN,NaN,NaN,NaN,NaN,135659.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27049.0,15738.0,15738.0,A Daughter of the Sioux,1925,Passed,NaN,"Action, Adventure, Romance",7.1,U.S. Government surveyor John Field suspects N...,Ben F. Wilson,/name/nm0933045/,"Ben F. Wilson, \nNeva Gerber, \nRobert Walker,...","/name/nm0933045/,/name/nm0314138/,/name/nm0908...",22.0,NaN
1306175,NaN,NaN,NaN,NaN,NaN,NaN,32071.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146702.0,74751.0,74751.0,King Kong,1976,PG,134 min,"Adventure, Horror",5.9,A petroleum exploration expedition comes to an...,John Guillermin,/name/nm0347086/,"Jeff Bridges, \nCharles Grodin, \nJessica Lang...","/name/nm0000313/,/name/nm0001301/,/name/nm0001...",33554.0,52614445.0
1306176,NaN,NaN,NaN,NaN,NaN,NaN,167030.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126106.0,53285.0,53285.0,Sleeping Beauty,1959,G,75 min,"Animation, Adventure, Family",7.2,"After being snubbed by the royal family, a mal...","Les Clark, \nClyde Geronimi, \nEric Larson, \n...",/name/nm0164203/,"Mary Costa, \nBill Shirley, \nEleanor Audley, ...","/name/nm0314671/,/name/nm0488981/,/name/nm0718...",151961.0,51600000.0
1306177,NaN,NaN,NaN,NaN,NaN,NaN,313487.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5672.0,12600.0,12600.0,The Queen of Sheba,1921,NaN,90 min,"Adventure, Drama",7.0,The story of the ill-fated romance between Sol...,J. Gordon Edwards,/name/nm0250053/,"Betty Blythe, \nFritz Leiber, \nClaire de Lore...","/name/nm0090029/,/name/nm0500021/,/name/nm0520...",65.0,NaN
1306178,NaN,NaN,NaN,NaN,NaN,NaN,490048.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94735.0,28500.0,28500.0,White Death,1936,NaN,81 min,Adventure,5.7,Adventure story about the search for a legenda...,Edwin G. Bowen,/name/nm0100836/,"James Coleman, \nHarold Colonna, \nAlfred Frit...","/name/nm0171061/,/name/nm0173155/,/name/nm0295...",15.0,NaN

In [26]:
movie_df.shape

(1306179, 40)

In [27]:
df_movie_meta.isna().sum()

adult                        0
belongs_to_collection    40972
budget                       0
genre                        0
homepage                 37684
id                           0
imdbId                      17
original_language           11
original_title               0
overview                   954
popularity                   5
poster_path                386
production_companies         3
production_countries         3
release_date                87
revenue                      6
runtime                    263
spoken_languages             6
status                      87
tagline                  25054
title                        6
video                        6
vote_average                 6
vote_count                   6
dtype: int64

In [28]:
tmdb_df.isna().sum()

movieId        74120
imdbId         74120
tmdbId         74120
movie_id           0
movie_name         0
year           11948
certificate    56370
runtime        27136
genre              0
rating         31586
description        0
director        6635
director_id     6635
star           13182
star_id        11369
votes          31583
revenue        73271
dtype: int64

In [29]:
tmdb_df.shape

(78119, 17)

In [30]:
movie_df.isna().sum()

adult                         22
belongs_to_collection    1153373
budget                        22
genre                         22
homepage                 1224180
id                            22
imdbId                   1260040
original_language             34
original_title                22
overview                  149229
popularity                    27
poster_path               371003
production_companies          25
production_countries          25
release_date              222466
revenue_x                     28
runtime_x                 148525
spoken_languages              28
status                       110
tagline                   988970
title                         28
video                         28
vote_average                  28
vote_count                    28
movieId                  1302177
tmdbId                   1302177
movie_id                   42137
movie_name                 42137
year                      245237
certificate               974013
runtime_y                 498617
genre_y                    42137
rating                    573627
description                42137
director                  154900
director_id               154900
star                      265911
star_id                   235282
votes                     573576
revenue_y                1229027
dtype: int64

In [31]:
movie_df.head()

,adult,belongs_to_collection,budget,genre,homepage,id,imdbId,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue_x,runtime_x,spoken_languages,status,tagline,title,video,vote_average,vote_count,movieId,tmdbId,movie_id,movie_name,year,certificate,runtime_y,genre_y,rating,description,director,director_id,star,star_id,votes,revenue_y
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,114709.0,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,113497.0,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,113228.0,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,114885.0,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,113041.0,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
movie_df.video.value_counts()

False    1306056
True          95
Name: video, dtype: int64

In [33]:
movie_df.status.value_counts()

Released           1157458
Rumored             148475
Post Production         98
In Production           20
Planned                 16
Canceled                 2
Name: status, dtype: int64

In [34]:
movie_df.tagline[1]

'Roll the dice and unleash the excitement!'

In [35]:
movie_df.homepage.value_counts()

http://www.delawarepictures.net/dreamkiller/    74120
http://www.georgecarlin.com                        12
http://www.wernerherzog.com/films-by.html           7
http://breakblade.jp/                               6
http://www.thehungergames.movie/                    5
                                                ...
http://www.snd-films.com/snd-main.swf?id=151        1
http://www.thelastlions.com/                        1
http://www.inthelandofbloodandhoney.com/            1
http://www.friendswithkids.com/#                    1
http://www.imdb.com/title/tt6209470/                1
Name: homepage, Length: 7673, dtype: int64

In [36]:
movie_df.drop(columns=["video","poster_path","homepage","overview","tagline", "description"], inplace=True)

In [37]:
movie_df.head(5)

,adult,belongs_to_collection,budget,genre,id,imdbId,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue_x,runtime_x,spoken_languages,status,title,vote_average,vote_count,movieId,tmdbId,movie_id,movie_name,year,certificate,runtime_y,genre_y,rating,director,director_id,star,star_id,votes,revenue_y
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,114709.0,en,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Toy Story,7.7,5415.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,113497.0,en,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Jumanji,6.9,2413.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,113228.0,en,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Grumpier Old Men,6.5,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,114885.0,en,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Waiting to Exhale,6.1,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,113041.0,en,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Father of the Bride Part II,5.7,173.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
movie_df['genre'][0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [39]:
def remove_id_from_genre(x):
    try:
        # Attempt to evaluate the string as a list of dictionaries
        genres = ast.literal_eval(x)

        # Ensure genres is a list and contains dictionaries with 'name' keys
        if isinstance(genres, list) and all(isinstance(entry, dict) and 'name' in entry for entry in genres):
            # Extract the 'name' part from each dictionary and return as a list
            return [entry['name'] for entry in genres]
    except (ValueError, SyntaxError):
        pass  # Ignore invalid data

    return None  # Return None for invalid or unprocessable data

# Apply the function to the 'genre' column of the DataFrame
movie_df['genre'] = movie_df['genre'].apply(remove_id_from_genre)

# Convert the list of genre names into a set
movie_df['genre'] = movie_df['genre'].apply(lambda x: set(x) if x is not None else None)

In [40]:
movie_df.head()

,adult,belongs_to_collection,budget,genre,id,imdbId,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue_x,runtime_x,spoken_languages,status,title,vote_average,vote_count,movieId,tmdbId,movie_id,movie_name,year,certificate,runtime_y,genre_y,rating,director,director_id,star,star_id,votes,revenue_y
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"{Family, Animation, Comedy}",862,114709.0,en,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Toy Story,7.7,5415.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,False,NaN,65000000,"{Adventure, Fantasy, Family}",8844,113497.0,en,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Jumanji,6.9,2413.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"{Romance, Comedy}",15602,113228.0,en,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Grumpier Old Men,6.5,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,False,NaN,16000000,"{Romance, Drama, Comedy}",31357,114885.0,en,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Waiting to Exhale,6.1,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,{Comedy},11862,113041.0,en,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Father of the Bride Part II,5.7,173.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
movie_df['genre_y'] = movie_df['genre_y'].apply(lambda x: set(x.split(", ")) if isinstance(x, str) else x)

In [42]:
import pandas as pd

# Assuming you have a DataFrame 'movie_df' with columns 'genre' and 'genre_x'

# Step 1: Convert sets of genres to lists
movie_df['genre'] = movie_df['genre'].apply(lambda x: list(x) if isinstance(x, set) else [])
movie_df['genre_y'] = movie_df['genre_y'].apply(lambda x: list(x) if isinstance(x, set) else [])

# Step 2: Merge the 'genre' and 'genre_x' columns and keep only unique values
movie_df['genre'] = movie_df.apply(lambda row: list(set(row['genre'] + row['genre_y'])), axis=1)

# Step 3: Optionally, you can convert the list of unique genres back to a set
movie_df['genre'] = movie_df['genre'].apply(set)

# Drop the original 'genre' and 'genre_x' columns if desired
movie_df.drop(columns=['genre_y'], inplace=True)

In [43]:
movie_df.head()

,adult,belongs_to_collection,budget,genre,id,imdbId,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue_x,runtime_x,spoken_languages,status,title,vote_average,vote_count,movieId,tmdbId,movie_id,movie_name,year,certificate,runtime_y,rating,director,director_id,star,star_id,votes,revenue_y
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"{Family, Animation, Comedy}",862,114709.0,en,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Toy Story,7.7,5415.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,False,NaN,65000000,"{Adventure, Fantasy, Family}",8844,113497.0,en,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Jumanji,6.9,2413.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"{Romance, Comedy}",15602,113228.0,en,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Grumpier Old Men,6.5,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,False,NaN,16000000,"{Romance, Drama, Comedy}",31357,114885.0,en,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Waiting to Exhale,6.1,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,{Comedy},11862,113041.0,en,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Father of the Bride Part II,5.7,173.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
movie_df["belongs_to_collection"][0]

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [45]:
# Assuming the 'belongs_to_collection' column contains strings that look like dictionaries
movie_df['belongs_to_collection'] = movie_df['belongs_to_collection'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else None)

# Create new columns for 'collection_id' and 'collection_name'
movie_df['collection_id'] = movie_df['belongs_to_collection'].apply(lambda x: x['id'] if isinstance(x, dict) else None)
movie_df['collection_name'] = movie_df['belongs_to_collection'].apply(lambda x: x['name'] if isinstance(x, dict) else None)
movie_df.drop(columns=['belongs_to_collection'], inplace=True)

In [46]:
movie_df.head()

,adult,budget,genre,id,imdbId,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue_x,runtime_x,spoken_languages,status,title,vote_average,vote_count,movieId,tmdbId,movie_id,movie_name,year,certificate,runtime_y,rating,director,director_id,star,star_id,votes,revenue_y,collection_id,collection_name
0,False,30000000,"{Family, Animation, Comedy}",862,114709.0,en,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Toy Story,7.7,5415.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10194.0,Toy Story Collection
1,False,65000000,"{Adventure, Fantasy, Family}",8844,113497.0,en,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Jumanji,6.9,2413.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
2,False,0,"{Romance, Comedy}",15602,113228.0,en,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Grumpier Old Men,6.5,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119050.0,Grumpy Old Men Collection
3,False,16000000,"{Romance, Drama, Comedy}",31357,114885.0,en,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Waiting to Exhale,6.1,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None
4,False,0,{Comedy},11862,113041.0,en,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Father of the Bride Part II,5.7,173.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96871.0,Father of the Bride Collection

In [47]:
movie_df["spoken_languages"][3]

"[{'iso_639_1': 'en', 'name': 'English'}]"

In [48]:
def extract_and_create_language_columns(df):
    # Define a custom function to extract language names
    def extract_language_name(lang_data):
        try:
            lang_list = ast.literal_eval(lang_data)  # Convert the string to a list of dictionaries
            return [lang['name'] for lang in lang_list]  # Extract the 'name' values
        except (ValueError, SyntaxError):
            return None

    # Apply the custom function to create a new column 'spoken_languages_names'
    df['spoken_languages_names'] = df['spoken_languages'].apply(extract_language_name)

    # Create 'spoken_language_1' and 'spoken_language_2' columns
    df['spoken_language_1'] = df['spoken_languages_names'].apply(lambda x: x[0] if isinstance(x, list) and len(x) > 0 else None)
    df['spoken_language_2'] = df['spoken_languages_names'].apply(lambda x: x[1] if isinstance(x, list) and len(x) > 1 else None)

    # Drop the 'spoken_languages_names' column if desired
    df.drop(columns=['spoken_languages_names'], inplace=True)

    return df

# Example usage:
movie_df = extract_and_create_language_columns(movie_df)

In [49]:
movie_df.drop(columns=['spoken_languages'], inplace=True)

In [50]:
movie_df.head()

,adult,budget,genre,id,imdbId,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue_x,runtime_x,status,title,vote_average,vote_count,movieId,tmdbId,movie_id,movie_name,year,certificate,runtime_y,rating,director,director_id,star,star_id,votes,revenue_y,collection_id,collection_name,spoken_language_1,spoken_language_2
0,False,30000000,"{Family, Animation, Comedy}",862,114709.0,en,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10194.0,Toy Story Collection,English,None
1,False,65000000,"{Adventure, Fantasy, Family}",8844,113497.0,en,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,English,Français
2,False,0,"{Romance, Comedy}",15602,113228.0,en,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119050.0,Grumpy Old Men Collection,English,None
3,False,16000000,"{Romance, Drama, Comedy}",31357,114885.0,en,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,English,None
4,False,0,{Comedy},11862,113041.0,en,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96871.0,Father of the Bride Collection,English,None

In [51]:
movie_df['production_companies'][1]

"[{'name': 'TriStar Pictures', 'id': 559}, {'name': 'Teitler Film', 'id': 2550}, {'name': 'Interscope Communications', 'id': 10201}]"

In [52]:
def extract_company_data(company_data):
    try:
        company_list = ast.literal_eval(company_data)  # Convert the string to a list of dictionaries
        return company_list
    except (ValueError, SyntaxError):
        return None

# Apply the custom function to create a new column 'production_companies_data'
movie_df['production_companies_data'] = movie_df['production_companies'].apply(extract_company_data)

# Determine the maximum number of production companies in a row
max_companies = movie_df['production_companies_data'].apply(lambda x: len(x) if isinstance(x, list) else 0).max()

# Create separate columns for production company names and IDs
for i in range(0,3):
    movie_df[f'production_company_{i+1}_name'] = movie_df['production_companies_data'].apply(
        lambda x: x[i]['name'] if isinstance(x, list) and len(x) > i else None)
    movie_df[f'production_company_{i+1}_id'] = movie_df['production_companies_data'].apply(
        lambda x: x[i]['id'] if isinstance(x, list) and len(x) > i else None)

# Drop the 'production_companies_data' column if desired
movie_df.drop(columns=['production_companies_data'], inplace=True)
movie_df.drop(columns=["production_companies"], inplace=True)

In [53]:
# Define a custom function to extract country data
def extract_country_data(country_data):
    try:
        country_list = ast.literal_eval(country_data)  # Convert the string to a list of dictionaries
        return country_list
    except (ValueError, SyntaxError):
        return None

# Apply the custom function to create a new column 'production_countries_data'
movie_df['production_countries_data'] = movie_df['production_countries'].apply(extract_country_data)

# Determine the maximum number of production countries in a row
max_countries = movie_df['production_countries_data'].apply(lambda x: len(x) if isinstance(x, list) else 0).max()

# Create separate columns for production country names
for i in range(0,3):
    movie_df[f'production_country_{i+1}_name'] = movie_df['production_countries_data'].apply(
        lambda x: x[i]['name'] if isinstance(x, list) and len(x) > i else None)

# Drop the 'production_countries_data' column if desired
movie_df.drop(columns=['production_countries_data'], inplace=True)
movie_df.drop(columns=['production_countries'], inplace=True)

In [54]:
movie_df.head()

,adult,budget,genre,id,imdbId,original_language,original_title,popularity,release_date,revenue_x,runtime_x,status,title,vote_average,vote_count,movieId,tmdbId,movie_id,movie_name,year,certificate,runtime_y,rating,director,director_id,star,star_id,votes,revenue_y,collection_id,collection_name,spoken_language_1,spoken_language_2,production_company_1_name,production_company_1_id,production_company_2_name,production_company_2_id,production_company_3_name,production_company_3_id,production_country_1_name,production_country_2_name,production_country_3_name
0,False,30000000,"{Family, Animation, Comedy}",862,114709.0,en,Toy Story,21.946943,1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10194.0,Toy Story Collection,English,None,Pixar Animation Studios,3.0,None,NaN,None,NaN,United States of America,None,None
1,False,65000000,"{Adventure, Fantasy, Family}",8844,113497.0,en,Jumanji,17.015539,1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,English,Français,TriStar Pictures,559.0,Teitler Film,2550.0,Interscope Communications,10201.0,United States of America,None,None
2,False,0,"{Romance, Comedy}",15602,113228.0,en,Grumpier Old Men,11.7129,1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119050.0,Grumpy Old Men Collection,English,None,Warner Bros.,6194.0,Lancaster Gate,19464.0,None,NaN,United States of America,None,None
3,False,16000000,"{Romance, Drama, Comedy}",31357,114885.0,en,Waiting to Exhale,3.859495,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,English,None,Twentieth Century Fox Film Corporation,306.0,None,NaN,None,NaN,United States of America,None,None
4,False,0,{Comedy},11862,113041.0,en,Father of the Bride Part II,8.387519,1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96871.0,Father of the Bride Collection,English,None,Sandollar Productions,5842.0,Touchstone Pictures,9195.0,None,NaN,United States of America,None,None

In [55]:
movie_df.genre[0]

{'Animation', 'Comedy', 'Family'}

In [56]:
# Assuming 'genre' is a column containing sets of genres like {'Animation', 'Comedy', 'Family'}
genre_dummies = movie_df['genre'].str.join('|').str.get_dummies()

# Rename the columns to match the genre names
genre_dummies.columns = [f'genre_{genre}' for genre in genre_dummies.columns]

# Concatenate the dummies with the original DataFrame
movie_df = pd.concat([movie_df, genre_dummies], axis=1)

# Drop the original 'genre' column if desired
movie_df.drop(columns=['genre'], inplace=True)

In [57]:
movie_df.head()

,adult,budget,id,imdbId,original_language,original_title,popularity,release_date,revenue_x,runtime_x,status,title,vote_average,vote_count,movieId,tmdbId,movie_id,movie_name,year,certificate,runtime_y,rating,director,director_id,star,star_id,votes,revenue_y,collection_id,collection_name,spoken_language_1,spoken_language_2,production_company_1_name,production_company_1_id,production_company_2_name,production_company_2_id,production_company_3_name,production_company_3_id,production_country_1_name,production_country_2_name,production_country_3_name,genre_Action,genre_Adult,genre_Adventure,genre_Animation,genre_Aniplex,genre_BROSTA TV,genre_Biography,genre_Carousel Productions,genre_Comedy,genre_Crime,genre_Documentary,genre_Drama,genre_Family,genre_Fantasy,genre_Film-Noir,genre_Foreign,genre_Game-Show,genre_GoHands,genre_History,genre_Horror,genre_Mardock Scramble Production Committee,genre_Music,genre_Musical,genre_Mystery,genre_News,genre_Odyssey Media,genre_Pulser Productions,genre_Reality-TV,genre_Rogue State,genre_Romance,genre_Sci-Fi,genre_Science Fiction,genre_Sentai Filmworks,genre_Sport,genre_TV Movie,genre_Telescene Film Group Productions,genre_The Cartel,genre_Thriller,genre_Vision View Entertainment,genre_War,genre_Western
0,False,30000000,862,114709.0,en,Toy Story,21.946943,1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10194.0,Toy Story Collection,English,None,Pixar Animation Studios,3.0,None,NaN,None,NaN,United States of America,None,None,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,False,65000000,8844,113497.0,en,Jumanji,17.015539,1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,English,Français,TriStar Pictures,559.0,Teitler Film,2550.0,Interscope Communications,10201.0,United States of America,None,None,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,False,0,15602,113228.0,en,Grumpier Old Men,11.7129,1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119050.0,Grumpy Old Men Collection,English,None,Warner Bros.,6194.0,Lancaster Gate,19464.0,None,NaN,United States of America,None,None,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,False,16000000,31357,114885.0,en,Waiting to Exhale,3.859495,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,English,None,Twentieth Century Fox Film Corporation,306.0,None,NaN,None,NaN,United States of America,None,None,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,False,0,11862,113041.0,en,Father of the Bride Part II,8.387519,1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96871.0,Father of the Bride Collection,English,None,Sandollar Productions,5842.0,Touchstone Pictures,9195.0,None,NaN,United States of America,None,None,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [58]:
movie_df['revenue'] = movie_df['revenue_x'].combine_first(movie_df['revenue_y'])
movie_df.drop(columns=['revenue_x', 'revenue_y'], inplace=True)

In [59]:
movie_df.head()

,adult,budget,id,imdbId,original_language,original_title,popularity,release_date,runtime_x,status,title,vote_average,vote_count,movieId,tmdbId,movie_id,movie_name,year,certificate,runtime_y,rating,director,director_id,star,star_id,votes,collection_id,collection_name,spoken_language_1,spoken_language_2,production_company_1_name,production_company_1_id,production_company_2_name,production_company_2_id,production_company_3_name,production_company_3_id,production_country_1_name,production_country_2_name,production_country_3_name,genre_Action,genre_Adult,genre_Adventure,genre_Animation,genre_Aniplex,genre_BROSTA TV,genre_Biography,genre_Carousel Productions,genre_Comedy,genre_Crime,genre_Documentary,genre_Drama,genre_Family,genre_Fantasy,genre_Film-Noir,genre_Foreign,genre_Game-Show,genre_GoHands,genre_History,genre_Horror,genre_Mardock Scramble Production Committee,genre_Music,genre_Musical,genre_Mystery,genre_News,genre_Odyssey Media,genre_Pulser Productions,genre_Reality-TV,genre_Rogue State,genre_Romance,genre_Sci-Fi,genre_Science Fiction,genre_Sentai Filmworks,genre_Sport,genre_TV Movie,genre_Telescene Film Group Productions,genre_The Cartel,genre_Thriller,genre_Vision View Entertainment,genre_War,genre_Western,revenue
0,False,30000000,862,114709.0,en,Toy Story,21.946943,1995-10-30,81.0,Released,Toy Story,7.7,5415.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10194.0,Toy Story Collection,English,None,Pixar Animation Studios,3.0,None,NaN,None,NaN,United States of America,None,None,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,373554033.0
1,False,65000000,8844,113497.0,en,Jumanji,17.015539,1995-12-15,104.0,Released,Jumanji,6.9,2413.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,English,Français,TriStar Pictures,559.0,Teitler Film,2550.0,Interscope Communications,10201.0,United States of America,None,None,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,262797249.0
2,False,0,15602,113228.0,en,Grumpier Old Men,11.7129,1995-12-22,101.0,Released,Grumpier Old Men,6.5,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119050.0,Grumpy Old Men Collection,English,None,Warner Bros.,6194.0,Lancaster Gate,19464.0,None,NaN,United States of America,None,None,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0
3,False,16000000,31357,114885.0,en,Waiting to Exhale,3.859495,1995-12-22,127.0,Released,Waiting to Exhale,6.1,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,English,None,Twentieth Century Fox Film Corporation,306.0,None,NaN,None,NaN,United States of America,None,None,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,81452156.0
4,False,0,11862,113041.0,en,Father of the Bride Part II,8.387519,1995-02-10,106.0,Released,Father of the Bride Part II,5.7,173.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96871.0,Father of the Bride Collection,English,None,Sandollar Productions,5842.0,Touchstone Pictures,9195.0,None,NaN,United States of America,None,None,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,76578911.0

In [60]:
movie_df['runtime'] = movie_df['runtime_x'].combine_first(movie_df['runtime_y'])
movie_df.drop(columns=['runtime_x', 'runtime_y'], inplace=True)

In [61]:
movie_df.tail()

,adult,budget,id,imdbId,original_language,original_title,popularity,release_date,status,title,vote_average,vote_count,movieId,tmdbId,movie_id,movie_name,year,certificate,rating,director,director_id,star,star_id,votes,collection_id,collection_name,spoken_language_1,spoken_language_2,production_company_1_name,production_company_1_id,production_company_2_name,production_company_2_id,production_company_3_name,production_company_3_id,production_country_1_name,production_country_2_name,production_country_3_name,genre_Action,genre_Adult,genre_Adventure,genre_Animation,genre_Aniplex,genre_BROSTA TV,genre_Biography,genre_Carousel Productions,genre_Comedy,genre_Crime,genre_Documentary,genre_Drama,genre_Family,genre_Fantasy,genre_Film-Noir,genre_Foreign,genre_Game-Show,genre_GoHands,genre_History,genre_Horror,genre_Mardock Scramble Production Committee,genre_Music,genre_Musical,genre_Mystery,genre_News,genre_Odyssey Media,genre_Pulser Productions,genre_Reality-TV,genre_Rogue State,genre_Romance,genre_Sci-Fi,genre_Science Fiction,genre_Sentai Filmworks,genre_Sport,genre_TV Movie,genre_Telescene Film Group Productions,genre_The Cartel,genre_Thriller,genre_Vision View Entertainment,genre_War,genre_Western,revenue,runtime
1306174,NaN,NaN,NaN,135659.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27049.0,15738.0,15738.0,A Daughter of the Sioux,1925,Passed,7.1,Ben F. Wilson,/name/nm0933045/,"Ben F. Wilson, \nNeva Gerber, \nRobert Walker,...","/name/nm0933045/,/name/nm0314138/,/name/nm0908...",22.0,NaN,None,None,None,None,NaN,None,NaN,None,NaN,None,None,None,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN
1306175,NaN,NaN,NaN,32071.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,146702.0,74751.0,74751.0,King Kong,1976,PG,5.9,John Guillermin,/name/nm0347086/,"Jeff Bridges, \nCharles Grodin, \nJessica Lang...","/name/nm0000313/,/name/nm0001301/,/name/nm0001...",33554.0,NaN,None,None,None,None,NaN,None,NaN,None,NaN,None,None,None,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,52614445.0,134 min
1306176,NaN,NaN,NaN,167030.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,126106.0,53285.0,53285.0,Sleeping Beauty,1959,G,7.2,"Les Clark, \nClyde Geronimi, \nEric Larson, \n...",/name/nm0164203/,"Mary Costa, \nBill Shirley, \nEleanor Audley, ...","/name/nm0314671/,/name/nm0488981/,/name/nm0718...",151961.0,NaN,None,None,None,None,NaN,None,NaN,None,NaN,None,None,None,0,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,51600000.0,75 min
1306177,NaN,NaN,NaN,313487.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5672.0,12600.0,12600.0,The Queen of Sheba,1921,NaN,7.0,J. Gordon Edwards,/name/nm0250053/,"Betty Blythe, \nFritz Leiber, \nClaire de Lore...","/name/nm0090029/,/name/nm0500021/,/name/nm0520...",65.0,NaN,None,None,None,None,NaN,None,NaN,None,NaN,None,None,None,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,90 min
1306178,NaN,NaN,NaN,490048.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,94735.0,28500.0,28500.0,White Death,1936,NaN,5.7,Edwin G. Bowen,/name/nm0100836/,"James Coleman, \nHarold Colonna, \nAlfred Frit...","/name/nm0171061/,/name/nm0173155/,/name/nm0295...",15.0,NaN,None,None,None,None,NaN,None,NaN,None,NaN,None,None,None,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,81 min

In [62]:
movie_df.head()

,adult,budget,id,imdbId,original_language,original_title,popularity,release_date,status,title,vote_average,vote_count,movieId,tmdbId,movie_id,movie_name,year,certificate,rating,director,director_id,star,star_id,votes,collection_id,collection_name,spoken_language_1,spoken_language_2,production_company_1_name,production_company_1_id,production_company_2_name,production_company_2_id,production_company_3_name,production_company_3_id,production_country_1_name,production_country_2_name,production_country_3_name,genre_Action,genre_Adult,genre_Adventure,genre_Animation,genre_Aniplex,genre_BROSTA TV,genre_Biography,genre_Carousel Productions,genre_Comedy,genre_Crime,genre_Documentary,genre_Drama,genre_Family,genre_Fantasy,genre_Film-Noir,genre_Foreign,genre_Game-Show,genre_GoHands,genre_History,genre_Horror,genre_Mardock Scramble Production Committee,genre_Music,genre_Musical,genre_Mystery,genre_News,genre_Odyssey Media,genre_Pulser Productions,genre_Reality-TV,genre_Rogue State,genre_Romance,genre_Sci-Fi,genre_Science Fiction,genre_Sentai Filmworks,genre_Sport,genre_TV Movie,genre_Telescene Film Group Productions,genre_The Cartel,genre_Thriller,genre_Vision View Entertainment,genre_War,genre_Western,revenue,runtime
0,False,30000000,862,114709.0,en,Toy Story,21.946943,1995-10-30,Released,Toy Story,7.7,5415.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10194.0,Toy Story Collection,English,None,Pixar Animation Studios,3.0,None,NaN,None,NaN,United States of America,None,None,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,373554033.0,81.0
1,False,65000000,8844,113497.0,en,Jumanji,17.015539,1995-12-15,Released,Jumanji,6.9,2413.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,English,Français,TriStar Pictures,559.0,Teitler Film,2550.0,Interscope Communications,10201.0,United States of America,None,None,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,262797249.0,104.0
2,False,0,15602,113228.0,en,Grumpier Old Men,11.7129,1995-12-22,Released,Grumpier Old Men,6.5,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119050.0,Grumpy Old Men Collection,English,None,Warner Bros.,6194.0,Lancaster Gate,19464.0,None,NaN,United States of America,None,None,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,101.0
3,False,16000000,31357,114885.0,en,Waiting to Exhale,3.859495,1995-12-22,Released,Waiting to Exhale,6.1,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,English,None,Twentieth Century Fox Film Corporation,306.0,None,NaN,None,NaN,United States of America,None,None,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,81452156.0,127.0
4,False,0,11862,113041.0,en,Father of the Bride Part II,8.387519,1995-02-10,Released,Father of the Bride Part II,5.7,173.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96871.0,Father of the Bride Collection,English,None,Sandollar Productions,5842.0,Touchstone Pictures,9195.0,None,NaN,United States of America,None,None,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,76578911.0,106.0

In [63]:
movie_df.drop(columns=['movie_id', 'tmdbId', 'tmdbId','imdbId','id','original_title'], inplace=True)

In [64]:
movie_df.head()

,adult,budget,original_language,popularity,release_date,status,title,vote_average,vote_count,movieId,movie_name,year,certificate,rating,director,director_id,star,star_id,votes,collection_id,collection_name,spoken_language_1,spoken_language_2,production_company_1_name,production_company_1_id,production_company_2_name,production_company_2_id,production_company_3_name,production_company_3_id,production_country_1_name,production_country_2_name,production_country_3_name,genre_Action,genre_Adult,genre_Adventure,genre_Animation,genre_Aniplex,genre_BROSTA TV,genre_Biography,genre_Carousel Productions,genre_Comedy,genre_Crime,genre_Documentary,genre_Drama,genre_Family,genre_Fantasy,genre_Film-Noir,genre_Foreign,genre_Game-Show,genre_GoHands,genre_History,genre_Horror,genre_Mardock Scramble Production Committee,genre_Music,genre_Musical,genre_Mystery,genre_News,genre_Odyssey Media,genre_Pulser Productions,genre_Reality-TV,genre_Rogue State,genre_Romance,genre_Sci-Fi,genre_Science Fiction,genre_Sentai Filmworks,genre_Sport,genre_TV Movie,genre_Telescene Film Group Productions,genre_The Cartel,genre_Thriller,genre_Vision View Entertainment,genre_War,genre_Western,revenue,runtime
0,False,30000000,en,21.946943,1995-10-30,Released,Toy Story,7.7,5415.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10194.0,Toy Story Collection,English,None,Pixar Animation Studios,3.0,None,NaN,None,NaN,United States of America,None,None,0,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,373554033.0,81.0
1,False,65000000,en,17.015539,1995-12-15,Released,Jumanji,6.9,2413.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,English,Français,TriStar Pictures,559.0,Teitler Film,2550.0,Interscope Communications,10201.0,United States of America,None,None,0,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,262797249.0,104.0
2,False,0,en,11.7129,1995-12-22,Released,Grumpier Old Men,6.5,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,119050.0,Grumpy Old Men Collection,English,None,Warner Bros.,6194.0,Lancaster Gate,19464.0,None,NaN,United States of America,None,None,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,101.0
3,False,16000000,en,3.859495,1995-12-22,Released,Waiting to Exhale,6.1,34.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,English,None,Twentieth Century Fox Film Corporation,306.0,None,NaN,None,NaN,United States of America,None,None,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,81452156.0,127.0
4,False,0,en,8.387519,1995-02-10,Released,Father of the Bride Part II,5.7,173.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96871.0,Father of the Bride Collection,English,None,Sandollar Productions,5842.0,Touchstone Pictures,9195.0,None,NaN,United States of America,None,None,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,76578911.0,106.0

In [65]:
movie_df['release_date']

0          1995-10-30
1          1995-12-15
2          1995-12-22
3          1995-12-22
4          1995-02-10
              ...
1306174           NaN
1306175           NaN
1306176           NaN
1306177           NaN
1306178           NaN
Name: release_date, Length: 1306179, dtype: object

In [66]:
movie_df['release_date'] = pd.to_datetime(movie_df['release_date'], errors='coerce')

# Extract the year and create a new 'year' column
movie_df['year_x'] = movie_df['release_date'].dt.year

In [67]:
movie_df.tail()

,adult,budget,original_language,popularity,release_date,status,title,vote_average,vote_count,movieId,movie_name,year,certificate,rating,director,director_id,star,star_id,votes,collection_id,collection_name,spoken_language_1,spoken_language_2,production_company_1_name,production_company_1_id,production_company_2_name,production_company_2_id,production_company_3_name,production_company_3_id,production_country_1_name,production_country_2_name,production_country_3_name,genre_Action,genre_Adult,genre_Adventure,genre_Animation,genre_Aniplex,genre_BROSTA TV,genre_Biography,genre_Carousel Productions,genre_Comedy,genre_Crime,genre_Documentary,genre_Drama,genre_Family,genre_Fantasy,genre_Film-Noir,genre_Foreign,genre_Game-Show,genre_GoHands,genre_History,genre_Horror,genre_Mardock Scramble Production Committee,genre_Music,genre_Musical,genre_Mystery,genre_News,genre_Odyssey Media,genre_Pulser Productions,genre_Reality-TV,genre_Rogue State,genre_Romance,genre_Sci-Fi,genre_Science Fiction,genre_Sentai Filmworks,genre_Sport,genre_TV Movie,genre_Telescene Film Group Productions,genre_The Cartel,genre_Thriller,genre_Vision View Entertainment,genre_War,genre_Western,revenue,runtime,year_x
1306174,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,27049.0,A Daughter of the Sioux,1925,Passed,7.1,Ben F. Wilson,/name/nm0933045/,"Ben F. Wilson, \nNeva Gerber, \nRobert Walker,...","/name/nm0933045/,/name/nm0314138/,/name/nm0908...",22.0,NaN,None,None,None,None,NaN,None,NaN,None,NaN,None,None,None,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
1306175,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,146702.0,King Kong,1976,PG,5.9,John Guillermin,/name/nm0347086/,"Jeff Bridges, \nCharles Grodin, \nJessica Lang...","/name/nm0000313/,/name/nm0001301/,/name/nm0001...",33554.0,NaN,None,None,None,None,NaN,None,NaN,None,NaN,None,None,None,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,52614445.0,134 min,NaN
1306176,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,126106.0,Sleeping Beauty,1959,G,7.2,"Les Clark, \nClyde Geronimi, \nEric Larson, \n...",/name/nm0164203/,"Mary Costa, \nBill Shirley, \nEleanor Audley, ...","/name/nm0314671/,/name/nm0488981/,/name/nm0718...",151961.0,NaN,None,None,None,None,NaN,None,NaN,None,NaN,None,None,None,0,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,51600000.0,75 min,NaN
1306177,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,5672.0,The Queen of Sheba,1921,NaN,7.0,J. Gordon Edwards,/name/nm0250053/,"Betty Blythe, \nFritz Leiber, \nClaire de Lore...","/name/nm0090029/,/name/nm0500021/,/name/nm0520...",65.0,NaN,None,None,None,None,NaN,None,NaN,None,NaN,None,None,None,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,90 min,NaN
1306178,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,94735.0,White Death,1936,NaN,5.7,Edwin G. Bowen,/name/nm0100836/,"James Coleman, \nHarold Colonna, \nAlfred Frit...","/name/nm0171061/,/name/nm0173155/,/name/nm0295...",15.0,NaN,None,None,None,None,NaN,None,NaN,None,NaN,None,None,None,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN,81 min,NaN

In [68]:
movie_df['release_year'] = movie_df['year_x'].combine_first(movie_df['year'])
movie_df.drop(columns=['year_x', 'year'], inplace=True)

In [69]:
movie_df['movie_title'] = movie_df['title'].combine_first(movie_df['movie_name'])
movie_df.drop(columns=['title', 'movie_name'], inplace=True)

In [72]:
movie_df.shape

(1306179, 74)

In [75]:
movie_df.to_csv("Data/clean_movie_data.csv")