In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import math

## Import Dataset

In [2]:
parse_dates = ['release_date']
df = pd.read_csv("Data/clean_movie_data.csv", parse_dates=parse_dates)
df.head()

/var/folders/dq/43_5rtyn5lz1p4vkq89ykdw40000gn/T/ipykernel_13349/103010525.py:2: DtypeWarning: Columns (1,2,4,18,19,20,21,23,25,27,28,29,72,73,74) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Data/clean_movie_data.csv", parse_dates=parse_dates)

,Unnamed: 0,adult,budget,original_language,popularity,release_date,status,vote_average,vote_count,movieId,...,genre_Telescene Film Group Productions,genre_The Cartel,genre_Thriller,genre_Vision View Entertainment,genre_War,genre_Western,revenue,runtime,release_year,movie_title
0,0,False,30000000,en,21.946943,1995-10-30,Released,7.7,5415.0,NaN,...,0,0,0,0,0,0,373554033.0,81.0,1995.0,Toy Story
1,1,False,65000000,en,17.015539,1995-12-15,Released,6.9,2413.0,NaN,...,0,0,0,0,0,0,262797249.0,104.0,1995.0,Jumanji
2,2,False,0,en,11.7129,1995-12-22,Released,6.5,92.0,NaN,...,0,0,0,0,0,0,0.0,101.0,1995.0,Grumpier Old Men
3,3,False,16000000,en,3.859495,1995-12-22,Released,6.1,34.0,NaN,...,0,0,0,0,0,0,81452156.0,127.0,1995.0,Waiting to Exhale
4,4,False,0,en,8.387519,1995-02-10,Released,5.7,173.0,NaN,...,0,0,0,0,0,0,76578911.0,106.0,1995.0,Father of the Bride Part II

## Compute Star's Power

In [3]:
df[['star']]

                                                      star
0                                                      NaN
1                                                      NaN
2                                                      NaN
3                                                      NaN
4                                                      NaN
...                                                    ...
1306174  Ben F. Wilson, \nNeva Gerber, \nRobert Walker,...
1306175  Jeff Bridges, \nCharles Grodin, \nJessica Lang...
1306176  Mary Costa, \nBill Shirley, \nEleanor Audley, ...
1306177  Betty Blythe, \nFritz Leiber, \nClaire de Lore...
1306178  James Coleman, \nHarold Colonna, \nAlfred Frit...

[1306179 rows x 1 columns]

In [4]:
df['star'].notna().sum()

1040268

In [5]:
df['star'] = df['star'].str.split(', \n')

In [6]:
not_null_star = df['star'].notna()
star_lists = df[not_null_star]['star'].values

In [7]:
star_powers = dict()

for star_list in star_lists:
    for star in star_list:
        star_powers[star] = 0

In [8]:
stars_with_revenue = df[['star', 'revenue']].values
for stars, revenue in stars_with_revenue:
    if math.isnan(revenue):
        continue
    if type(stars) == list:
        for star in stars:
            star_powers[star] += revenue

In [9]:
def myfunc(item):
    stars = item['star']
    star_power = 0
    if type(stars) == list :
        for star in stars:
            star_power += star_powers[star]
    
    return star_power

df['star_power'] = df[['star']].apply(myfunc, axis=1)

In [10]:
df.tail()

,Unnamed: 0,adult,budget,original_language,popularity,release_date,status,vote_average,vote_count,movieId,...,genre_The Cartel,genre_Thriller,genre_Vision View Entertainment,genre_War,genre_Western,revenue,runtime,release_year,movie_title,star_power
1306174,1306174,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,27049.0,...,0,0,0,0,0,NaN,NaN,1925.0,A Daughter of the Sioux,704901236.0
1306175,1306175,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,146702.0,...,0,0,0,0,0,52614445.0,134 min,1976.0,King Kong,210457780.0
1306176,1306176,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,126106.0,...,0,0,0,0,0,51600000.0,75 min,1959.0,Sleeping Beauty,206400000.0
1306177,1306177,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,5672.0,...,0,0,0,0,0,NaN,90 min,1921.0,The Queen of Sheba,266188504.0
1306178,1306178,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,94735.0,...,0,0,0,0,0,NaN,81 min,1936.0,White Death,0.0

## Compute Director Power

In [11]:
# A lot of director, so we should make use of it.
df['director'].notna().sum()

1151279

In [12]:
df['director'].unique()

array([nan, 'Maurice Tourneur', 'Frank Lloyd', ..., 'Hector Herrera',
       'Les Clark, \nClyde Geronimi, \nEric Larson, \nWolfgang Reitherman, \nHamilton Luske',
       'Edwin G. Bowen'], dtype=object)

In [13]:
df['director'] = df['director'].str.split(', \n')

In [14]:
not_null_director = df['director'].notna()
director_lists = df[not_null_director]['director'].values

director_powers = dict()

for director_list in director_lists:
    for director in director_list:
        director_powers[director] = 0

In [15]:
dirs_with_revenue = df[['director', 'revenue']].values
for directors, revenue in dirs_with_revenue:
    if math.isnan(revenue):
        continue
    if type(directors) == list:
        for director in directors:
            director_powers[director] += revenue

In [16]:
def create_director_power(item):
    directors = item['director']
    dir_power = 0
    if type(directors) == list :
        for director in directors:
            dir_power += director_powers[director]
    
    return dir_power

df['director_power'] = df[['director']].apply(create_director_power, axis=1)

In [17]:
df.tail()

,Unnamed: 0,adult,budget,original_language,popularity,release_date,status,vote_average,vote_count,movieId,...,genre_Thriller,genre_Vision View Entertainment,genre_War,genre_Western,revenue,runtime,release_year,movie_title,star_power,director_power
1306174,1306174,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,27049.0,...,0,0,0,0,NaN,NaN,1925.0,A Daughter of the Sioux,704901236.0,198847042.0
1306175,1306175,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,146702.0,...,0,0,0,0,52614445.0,134 min,1976.0,King Kong,210457780.0,52614445.0
1306176,1306176,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,126106.0,...,0,0,0,0,51600000.0,75 min,1959.0,Sleeping Beauty,206400000.0,288890262.0
1306177,1306177,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,5672.0,...,0,0,0,0,NaN,90 min,1921.0,The Queen of Sheba,266188504.0,105220160.0
1306178,1306178,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,94735.0,...,0,0,0,0,NaN,81 min,1936.0,White Death,0.0,0.0

In [19]:
df.to_csv('Data/movie_data_w_star_power.csv')