In [175]:
import pandas as pd
import ast

In [228]:
df_movie_meta= pd.read_csv('Data/IMDB/movies_metadata.csv')
df_movie_rating= pd.read_csv('Data/IMDB/ratings.csv')
df_movie_action= pd.read_csv('Data/TMDB/action.csv')
df_movie_ad= pd.read_csv('Data/TMDB/adventure.csv')
df_movie_animation= pd.read_csv('Data/TMDB/animation.csv')
df_movie_biography= pd.read_csv('Data/TMDB/biography.csv')
df_movie_crime= pd.read_csv('Data/TMDB/crime.csv')
df_movie_family= pd.read_csv('Data/TMDB/family.csv')
df_movie_fantasy= pd.read_csv('Data/TMDB/fantasy.csv')
df_movie_film_noir= pd.read_csv('Data/TMDB/film-noir.csv')
df_movie_history= pd.read_csv('Data/TMDB/history.csv')
df_movie_horror= pd.read_csv('Data/TMDB/horror.csv')
df_movie_mystery= pd.read_csv('Data/TMDB/mystery.csv')
df_movie_romance= pd.read_csv('Data/TMDB/romance.csv')
df_movie_scifi= pd.read_csv('Data/TMDB/scifi.csv')
df_movie_sports= pd.read_csv('Data/TMDB/sports.csv')
df_movie_thriller= pd.read_csv('Data/TMDB/thriller.csv')
df_movie_war= pd.read_csv('Data/TMDB/war.csv')
df_tmdb_links = pd.read_csv('Data/IMDB/links.csv')

C:\Users\LEGION\AppData\Local\Temp\ipykernel_15500\2226322677.py:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df_movie_meta= pd.read_csv('Data/IMDB/movies_metadata.csv')

In [229]:
# Set the option to display all columns
pd.set_option('display.max_columns', None)

# Display the first few rows of the DataFrame
df_movie_meta.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,popularity,poster_path,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",21.946943,/rhIRbceoE9lR4veEXuwCC2wARtG.jpg,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,17.015539,/vzmL6fP7aPKNKPRTFnZmiUfciyV.jpg,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,11.7129,/6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",3.859495,/16XOMpEaLWkrcPqSQqhTmeJuqQl.jpg,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,8.387519,/e64sOI48hQXyru7naBFyssKFxVd.jpg,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [230]:

# List of DataFrames
dfs = [
    df_movie_action, df_movie_ad, df_movie_animation, df_movie_biography,
    df_movie_crime, df_movie_family, df_movie_fantasy, df_movie_film_noir,
    df_movie_history, df_movie_horror, df_movie_mystery, df_movie_romance,
    df_movie_scifi, df_movie_sports, df_movie_thriller, df_movie_war
]

# Merge DataFrames with full outer join on 'id' and 'movie_id'
df_merged_movies = pd.concat(dfs, axis=0, join='outer', ignore_index=True, sort=False, keys=['id', 'movie_id'])

In [178]:
df_movie_meta.video.value_counts()

False    45367
True        93
Name: video, dtype: int64

In [179]:
df_movie_meta.status.value_counts()

Released           45014
Rumored              230
Post Production       98
In Production         20
Planned               15
Canceled               2
Name: status, dtype: int64

In [180]:
df_movie_meta.tagline[1]

'Roll the dice and unleash the excitement!'

In [181]:
df_movie_meta.homepage.value_counts()

http://www.georgecarlin.com                       12
http://www.wernerherzog.com/films-by.html          7
http://breakblade.jp/                              6
http://www.thehungergames.movie/                   4
http://www.crownintlpictures.com/tztitles.html     4
                                                  ..
http://wn.com/Flypaper_%282011_film%29             1
http://www.theperfectgamemovie.com                 1
http://www.arthurchristmas.com/                    1
http://happyfeettwo.warnerbros.com/index.html      1
http://www.imdb.com/title/tt6209470/               1
Name: homepage, Length: 7673, dtype: int64

In [182]:
df_movie_meta.drop(columns=["video","poster_path","homepage","overview","tagline"], inplace=True)

In [183]:
df_movie_meta.head(5)

,adult,belongs_to_collection,budget,genres,id,imdb_id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,title,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Toy Story,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Jumanji,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,en,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Grumpier Old Men,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,en,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Waiting to Exhale,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,en,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Father of the Bride Part II,5.7,173.0

In [184]:
df_movie_meta["belongs_to_collection"][0]

"{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}"

In [185]:
# Assuming the 'belongs_to_collection' column contains strings that look like dictionaries
df_movie_meta['belongs_to_collection'] = df_movie_meta['belongs_to_collection'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) else None)

# Create new columns for 'collection_id' and 'collection_name'
df_movie_meta['collection_id'] = df_movie_meta['belongs_to_collection'].apply(lambda x: x['id'] if isinstance(x, dict) else None)
df_movie_meta['collection_name'] = df_movie_meta['belongs_to_collection'].apply(lambda x: x['name'] if isinstance(x, dict) else None)

In [186]:
df_movie_meta.head()

,adult,belongs_to_collection,budget,genres,id,imdb_id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,title,vote_average,vote_count,collection_id,collection_name
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Toy Story,7.7,5415.0,10194.0,Toy Story Collection
1,False,None,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Jumanji,6.9,2413.0,NaN,None
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,en,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Grumpier Old Men,6.5,92.0,119050.0,Grumpy Old Men Collection
3,False,None,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,en,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Waiting to Exhale,6.1,34.0,NaN,None
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,en,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Father of the Bride Part II,5.7,173.0,96871.0,Father of the Bride Collection

In [187]:
df_movie_meta.drop(columns=['belongs_to_collection'], inplace=True)

In [188]:
df_movie_meta.head(5)

,adult,budget,genres,id,imdb_id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,title,vote_average,vote_count,collection_id,collection_name
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Toy Story,7.7,5415.0,10194.0,Toy Story Collection
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Jumanji,6.9,2413.0,NaN,None
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,en,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Grumpier Old Men,6.5,92.0,119050.0,Grumpy Old Men Collection
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,en,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Waiting to Exhale,6.1,34.0,NaN,None
4,False,0,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,en,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Father of the Bride Part II,5.7,173.0,96871.0,Father of the Bride Collection

In [189]:
df_movie_meta["spoken_languages"][3]

"[{'iso_639_1': 'en', 'name': 'English'}]"

In [190]:
def extract_and_create_language_columns(df):
    # Define a custom function to extract language names
    def extract_language_name(lang_data):
        try:
            lang_list = ast.literal_eval(lang_data)  # Convert the string to a list of dictionaries
            return [lang['name'] for lang in lang_list]  # Extract the 'name' values
        except (ValueError, SyntaxError):
            return None

    # Apply the custom function to create a new column 'spoken_languages_names'
    df['spoken_languages_names'] = df['spoken_languages'].apply(extract_language_name)

    # Create 'spoken_language_1' and 'spoken_language_2' columns
    df['spoken_language_1'] = df['spoken_languages_names'].apply(lambda x: x[0] if isinstance(x, list) and len(x) > 0 else None)
    df['spoken_language_2'] = df['spoken_languages_names'].apply(lambda x: x[1] if isinstance(x, list) and len(x) > 1 else None)

    # Drop the 'spoken_languages_names' column if desired
    df.drop(columns=['spoken_languages_names'], inplace=True)

    return df

# Example usage:
df_movie_meta = extract_and_create_language_columns(df_movie_meta)

In [191]:
df_movie_meta.drop(columns=['spoken_languages'], inplace=True)

In [192]:
df_movie_meta.head()

,adult,budget,genres,id,imdb_id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,status,title,vote_average,vote_count,collection_id,collection_name,spoken_language_1,spoken_language_2
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,10194.0,Toy Story Collection,English,None
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,NaN,None,English,Français
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,en,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,119050.0,Grumpy Old Men Collection,English,None
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,en,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,NaN,None,English,None
4,False,0,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,en,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,96871.0,Father of the Bride Collection,English,None

In [193]:
df_movie_meta['production_companies'][1]

"[{'name': 'TriStar Pictures', 'id': 559}, {'name': 'Teitler Film', 'id': 2550}, {'name': 'Interscope Communications', 'id': 10201}]"

In [194]:
df_movie_meta.head()

,adult,budget,genres,id,imdb_id,original_language,original_title,popularity,production_companies,production_countries,release_date,revenue,runtime,status,title,vote_average,vote_count,collection_id,collection_name,spoken_language_1,spoken_language_2
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,Toy Story,21.946943,"[{'name': 'Pixar Animation Studios', 'id': 3}]","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,10194.0,Toy Story Collection,English,None
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,Jumanji,17.015539,"[{'name': 'TriStar Pictures', 'id': 559}, {'na...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,NaN,None,English,Français
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,en,Grumpier Old Men,11.7129,"[{'name': 'Warner Bros.', 'id': 6194}, {'name'...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,119050.0,Grumpy Old Men Collection,English,None
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,en,Waiting to Exhale,3.859495,[{'name': 'Twentieth Century Fox Film Corporat...,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,NaN,None,English,None
4,False,0,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,en,Father of the Bride Part II,8.387519,"[{'name': 'Sandollar Productions', 'id': 5842}...","[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,96871.0,Father of the Bride Collection,English,None

In [195]:
import ast

# Define a custom function to extract company data
def extract_company_data(company_data):
    try:
        company_list = ast.literal_eval(company_data)  # Convert the string to a list of dictionaries
        return company_list
    except (ValueError, SyntaxError):
        return None

# Apply the custom function to create a new column 'production_companies_data'
df_movie_meta['production_companies_data'] = df_movie_meta['production_companies'].apply(extract_company_data)

# Determine the maximum number of production companies in a row
max_companies = df_movie_meta['production_companies_data'].apply(lambda x: len(x) if isinstance(x, list) else 0).max()

# Create separate columns for production company names and IDs
for i in range(max_companies):
    df_movie_meta[f'production_company_{i+1}_name'] = df_movie_meta['production_companies_data'].apply(
        lambda x: x[i]['name'] if isinstance(x, list) and len(x) > i else None)
    df_movie_meta[f'production_company_{i+1}_id'] = df_movie_meta['production_companies_data'].apply(
        lambda x: x[i]['id'] if isinstance(x, list) and len(x) > i else None)

# Drop the 'production_companies_data' column if desired
df_movie_meta.drop(columns=['production_companies_data'], inplace=True)

In [196]:
df_movie_meta.drop(columns=["production_companies"], inplace=True)

In [197]:
df_movie_meta.head()

,adult,budget,genres,id,imdb_id,original_language,original_title,popularity,production_countries,release_date,revenue,runtime,status,title,vote_average,vote_count,collection_id,collection_name,spoken_language_1,spoken_language_2,production_company_1_name,production_company_1_id,production_company_2_name,production_company_2_id,production_company_3_name,production_company_3_id,production_company_4_name,production_company_4_id,production_company_5_name,production_company_5_id,production_company_6_name,production_company_6_id,production_company_7_name,production_company_7_id,production_company_8_name,production_company_8_id,production_company_9_name,production_company_9_id,production_company_10_name,production_company_10_id,production_company_11_name,production_company_11_id,production_company_12_name,production_company_12_id,production_company_13_name,production_company_13_id,production_company_14_name,production_company_14_id,production_company_15_name,production_company_15_id,production_company_16_name,production_company_16_id,production_company_17_name,production_company_17_id,production_company_18_name,production_company_18_id,production_company_19_name,production_company_19_id,production_company_20_name,production_company_20_id,production_company_21_name,production_company_21_id,production_company_22_name,production_company_22_id,production_company_23_name,production_company_23_id,production_company_24_name,production_company_24_id,production_company_25_name,production_company_25_id,production_company_26_name,production_company_26_id
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,Toy Story,21.946943,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,10194.0,Toy Story Collection,English,None,Pixar Animation Studios,3.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,Jumanji,17.015539,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,NaN,None,English,Français,TriStar Pictures,559.0,Teitler Film,2550.0,Interscope Communications,10201.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,en,Grumpier Old Men,11.7129,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,119050.0,Grumpy Old Men Collection,English,None,Warner Bros.,6194.0,Lancaster Gate,19464.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,en,Waiting to Exhale,3.859495,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,NaN,None,English,None,Twentieth Century Fox Film Corporation,306.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN
4,False,0,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,en,Father of the Bride Part II,8.387519,"[{'iso_3166_1': 'US', 'name': 'United States o...",1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,96871.0,Father of the Bride Collection,English,None,Sandollar Productions,5842.0,Touchstone Pictures,9195.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN

In [198]:
# Define a custom function to extract country data
def extract_country_data(country_data):
    try:
        country_list = ast.literal_eval(country_data)  # Convert the string to a list of dictionaries
        return country_list
    except (ValueError, SyntaxError):
        return None

# Apply the custom function to create a new column 'production_countries_data'
df_movie_meta['production_countries_data'] = df_movie_meta['production_countries'].apply(extract_country_data)

# Determine the maximum number of production countries in a row
max_countries = df_movie_meta['production_countries_data'].apply(lambda x: len(x) if isinstance(x, list) else 0).max()

# Create separate columns for production country names
for i in range(max_countries):
    df_movie_meta[f'production_country_{i+1}_name'] = df_movie_meta['production_countries_data'].apply(
        lambda x: x[i]['name'] if isinstance(x, list) and len(x) > i else None)

# Drop the 'production_countries_data' column if desired
df_movie_meta.drop(columns=['production_countries_data'], inplace=True)

In [199]:
df_movie_meta.drop(columns=["production_countries"], inplace=True)

In [200]:
df_movie_meta.head()

,adult,budget,genres,id,imdb_id,original_language,original_title,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,collection_id,collection_name,spoken_language_1,spoken_language_2,production_company_1_name,production_company_1_id,production_company_2_name,production_company_2_id,production_company_3_name,production_company_3_id,production_company_4_name,production_company_4_id,production_company_5_name,production_company_5_id,production_company_6_name,production_company_6_id,production_company_7_name,production_company_7_id,production_company_8_name,production_company_8_id,production_company_9_name,production_company_9_id,production_company_10_name,production_company_10_id,production_company_11_name,production_company_11_id,production_company_12_name,production_company_12_id,production_company_13_name,production_company_13_id,production_company_14_name,production_company_14_id,production_company_15_name,production_company_15_id,production_company_16_name,production_company_16_id,production_company_17_name,production_company_17_id,production_company_18_name,production_company_18_id,production_company_19_name,production_company_19_id,production_company_20_name,production_company_20_id,production_company_21_name,production_company_21_id,production_company_22_name,production_company_22_id,production_company_23_name,production_company_23_id,production_company_24_name,production_company_24_id,production_company_25_name,production_company_25_id,production_company_26_name,production_company_26_id,production_country_1_name,production_country_2_name,production_country_3_name,production_country_4_name,production_country_5_name,production_country_6_name,production_country_7_name,production_country_8_name,production_country_9_name,production_country_10_name,production_country_11_name,production_country_12_name,production_country_13_name,production_country_14_name,production_country_15_name,production_country_16_name,production_country_17_name,production_country_18_name,production_country_19_name,production_country_20_name,production_country_21_name,production_country_22_name,production_country_23_name,production_country_24_name,production_country_25_name
0,False,30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",862,tt0114709,en,Toy Story,21.946943,1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,10194.0,Toy Story Collection,English,None,Pixar Animation Studios,3.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,United States of America,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,False,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",8844,tt0113497,en,Jumanji,17.015539,1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,NaN,None,English,Français,TriStar Pictures,559.0,Teitler Film,2550.0,Interscope Communications,10201.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,United States of America,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,False,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",15602,tt0113228,en,Grumpier Old Men,11.7129,1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,119050.0,Grumpy Old Men Collection,English,None,Warner Bros.,6194.0,Lancaster Gate,19464.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,United States of America,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
3,False,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",31357,tt0114885,en,Waiting to Exhale,3.859495,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,NaN,None,English,None,Twentieth Century Fox Film Corporation,306.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,United States of America,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
4,False,0,"[{'id': 35, 'name': 'Comedy'}]",11862,tt0113041,en,Father of the Bride Part II,8.387519,1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,96871.0,Father of the Bride Collection,English,None,Sandollar Productions,5842.0,Touchstone Pictures,9195.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,United States of America,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None

In [201]:
df_movie_meta.genres[0]

"[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]"

In [1]:
def extract_genre_data(genre_data):
    try:
        genre_list = ast.literal_eval(genre_data)  # Convert the string to a list of dictionaries
        return [genre['name'] for genre in genre_list]  # Extract the 'name' values
    except (ValueError, SyntaxError):
        return None

# Apply the custom function to create a new column 'genre_data'
df_movie_meta['genre_data'] = df_movie_meta['genres'].apply(extract_genre_data)

# Get a list of all unique genres
unique_genres = set(genre for genres in df_movie_meta['genre_data'] if isinstance(genres, list) for genre in genres)

# Create a new column for each genre and set values as 1 or 0
for genre in unique_genres:
    df_movie_meta[genre] = df_movie_meta['genre_data'].apply(lambda x: 1 if isinstance(x, list) and genre in x else 0)

# Drop the 'genre_data' column if desired
df_movie_meta.drop(columns=['genre_data'], axis=1, inplace=True)
df_movie_meta.drop(columns=["genres"], inplace=True)

NameError: name 'movie_df' is not defined

In [203]:
df_movie_meta.head()

,adult,budget,id,imdb_id,original_language,original_title,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,collection_id,collection_name,spoken_language_1,spoken_language_2,production_company_1_name,production_company_1_id,production_company_2_name,production_company_2_id,production_company_3_name,production_company_3_id,production_company_4_name,production_company_4_id,production_company_5_name,production_company_5_id,production_company_6_name,production_company_6_id,production_company_7_name,production_company_7_id,production_company_8_name,production_company_8_id,production_company_9_name,production_company_9_id,production_company_10_name,production_company_10_id,production_company_11_name,production_company_11_id,production_company_12_name,production_company_12_id,production_company_13_name,production_company_13_id,production_company_14_name,production_company_14_id,production_company_15_name,production_company_15_id,production_company_16_name,production_company_16_id,production_company_17_name,production_company_17_id,production_company_18_name,production_company_18_id,production_company_19_name,production_company_19_id,production_company_20_name,production_company_20_id,production_company_21_name,production_company_21_id,production_company_22_name,production_company_22_id,production_company_23_name,production_company_23_id,production_company_24_name,production_company_24_id,production_company_25_name,production_company_25_id,production_company_26_name,production_company_26_id,production_country_1_name,production_country_2_name,production_country_3_name,production_country_4_name,production_country_5_name,production_country_6_name,production_country_7_name,production_country_8_name,production_country_9_name,production_country_10_name,production_country_11_name,production_country_12_name,production_country_13_name,production_country_14_name,production_country_15_name,production_country_16_name,production_country_17_name,production_country_18_name,production_country_19_name,production_country_20_name,production_country_21_name,production_country_22_name,production_country_23_name,production_country_24_name,production_country_25_name,GoHands,Family,Telescene Film Group Productions,Thriller,Western,Foreign,Horror,Comedy,Adventure,War,Mystery,Sentai Filmworks,TV Movie,Pulser Productions,Vision View Entertainment,Music,Drama,Fantasy,Crime,BROSTA TV,Documentary,Science Fiction,Mardock Scramble Production Committee,Carousel Productions,Aniplex,Animation,Romance,Odyssey Media,The Cartel,Rogue State,History,Action
0,False,30000000,862,tt0114709,en,Toy Story,21.946943,1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,10194.0,Toy Story Collection,English,None,Pixar Animation Studios,3.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,United States of America,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,False,65000000,8844,tt0113497,en,Jumanji,17.015539,1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,NaN,None,English,Français,TriStar Pictures,559.0,Teitler Film,2550.0,Interscope Communications,10201.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,United States of America,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,False,0,15602,tt0113228,en,Grumpier Old Men,11.7129,1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,119050.0,Grumpy Old Men Collection,English,None,Warner Bros.,6194.0,Lancaster Gate,19464.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,United States of America,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,False,16000000,31357,tt0114885,en,Waiting to Exhale,3.859495,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,NaN,None,English,None,Twentieth Century Fox Film Corporation,306.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,United States of America,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,False,0,11862,tt0113041,en,Father of the Bride Part II,8.387519,1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,96871.0,Father of the Bride Collection,English,None,Sandollar Productions,5842.0,Touchstone Pictures,9195.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,United States of America,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [204]:
df_movie_rating.head()

   userId  movieId  rating   timestamp
0       1      110     1.0  1425941529
1       1      147     4.5  1425942435
2       1      858     5.0  1425941523
3       1     1221     5.0  1425941546
4       1     1246     5.0  1425941556

In [205]:
df_movie_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26024289 entries, 0 to 26024288
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 794.2 MB

In [206]:
df_movie_meta.id.dtype

dtype('O')

In [207]:
df_movie_meta.id.unique()

array(['862', '8844', '15602', ..., '67758', '227506', '461257'],
      dtype=object)

In [208]:
df_movie_meta.head()

,adult,budget,id,imdb_id,original_language,original_title,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,collection_id,collection_name,spoken_language_1,spoken_language_2,production_company_1_name,production_company_1_id,production_company_2_name,production_company_2_id,production_company_3_name,production_company_3_id,production_company_4_name,production_company_4_id,production_company_5_name,production_company_5_id,production_company_6_name,production_company_6_id,production_company_7_name,production_company_7_id,production_company_8_name,production_company_8_id,production_company_9_name,production_company_9_id,production_company_10_name,production_company_10_id,production_company_11_name,production_company_11_id,production_company_12_name,production_company_12_id,production_company_13_name,production_company_13_id,production_company_14_name,production_company_14_id,production_company_15_name,production_company_15_id,production_company_16_name,production_company_16_id,production_company_17_name,production_company_17_id,production_company_18_name,production_company_18_id,production_company_19_name,production_company_19_id,production_company_20_name,production_company_20_id,production_company_21_name,production_company_21_id,production_company_22_name,production_company_22_id,production_company_23_name,production_company_23_id,production_company_24_name,production_company_24_id,production_company_25_name,production_company_25_id,production_company_26_name,production_company_26_id,production_country_1_name,production_country_2_name,production_country_3_name,production_country_4_name,production_country_5_name,production_country_6_name,production_country_7_name,production_country_8_name,production_country_9_name,production_country_10_name,production_country_11_name,production_country_12_name,production_country_13_name,production_country_14_name,production_country_15_name,production_country_16_name,production_country_17_name,production_country_18_name,production_country_19_name,production_country_20_name,production_country_21_name,production_country_22_name,production_country_23_name,production_country_24_name,production_country_25_name,GoHands,Family,Telescene Film Group Productions,Thriller,Western,Foreign,Horror,Comedy,Adventure,War,Mystery,Sentai Filmworks,TV Movie,Pulser Productions,Vision View Entertainment,Music,Drama,Fantasy,Crime,BROSTA TV,Documentary,Science Fiction,Mardock Scramble Production Committee,Carousel Productions,Aniplex,Animation,Romance,Odyssey Media,The Cartel,Rogue State,History,Action
0,False,30000000,862,tt0114709,en,Toy Story,21.946943,1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,10194.0,Toy Story Collection,English,None,Pixar Animation Studios,3.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,United States of America,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,False,65000000,8844,tt0113497,en,Jumanji,17.015539,1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,NaN,None,English,Français,TriStar Pictures,559.0,Teitler Film,2550.0,Interscope Communications,10201.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,United States of America,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,False,0,15602,tt0113228,en,Grumpier Old Men,11.7129,1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,119050.0,Grumpy Old Men Collection,English,None,Warner Bros.,6194.0,Lancaster Gate,19464.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,United States of America,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,False,16000000,31357,tt0114885,en,Waiting to Exhale,3.859495,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,NaN,None,English,None,Twentieth Century Fox Film Corporation,306.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,United States of America,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,False,0,11862,tt0113041,en,Father of the Bride Part II,8.387519,1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,96871.0,Father of the Bride Collection,English,None,Sandollar Productions,5842.0,Touchstone Pictures,9195.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,United States of America,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [209]:
df_movie_meta.head()

,adult,budget,id,imdb_id,original_language,original_title,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,collection_id,collection_name,spoken_language_1,spoken_language_2,production_company_1_name,production_company_1_id,production_company_2_name,production_company_2_id,production_company_3_name,production_company_3_id,production_company_4_name,production_company_4_id,production_company_5_name,production_company_5_id,production_company_6_name,production_company_6_id,production_company_7_name,production_company_7_id,production_company_8_name,production_company_8_id,production_company_9_name,production_company_9_id,production_company_10_name,production_company_10_id,production_company_11_name,production_company_11_id,production_company_12_name,production_company_12_id,production_company_13_name,production_company_13_id,production_company_14_name,production_company_14_id,production_company_15_name,production_company_15_id,production_company_16_name,production_company_16_id,production_company_17_name,production_company_17_id,production_company_18_name,production_company_18_id,production_company_19_name,production_company_19_id,production_company_20_name,production_company_20_id,production_company_21_name,production_company_21_id,production_company_22_name,production_company_22_id,production_company_23_name,production_company_23_id,production_company_24_name,production_company_24_id,production_company_25_name,production_company_25_id,production_company_26_name,production_company_26_id,production_country_1_name,production_country_2_name,production_country_3_name,production_country_4_name,production_country_5_name,production_country_6_name,production_country_7_name,production_country_8_name,production_country_9_name,production_country_10_name,production_country_11_name,production_country_12_name,production_country_13_name,production_country_14_name,production_country_15_name,production_country_16_name,production_country_17_name,production_country_18_name,production_country_19_name,production_country_20_name,production_country_21_name,production_country_22_name,production_country_23_name,production_country_24_name,production_country_25_name,GoHands,Family,Telescene Film Group Productions,Thriller,Western,Foreign,Horror,Comedy,Adventure,War,Mystery,Sentai Filmworks,TV Movie,Pulser Productions,Vision View Entertainment,Music,Drama,Fantasy,Crime,BROSTA TV,Documentary,Science Fiction,Mardock Scramble Production Committee,Carousel Productions,Aniplex,Animation,Romance,Odyssey Media,The Cartel,Rogue State,History,Action
0,False,30000000,862,tt0114709,en,Toy Story,21.946943,1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,10194.0,Toy Story Collection,English,None,Pixar Animation Studios,3.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,United States of America,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,False,65000000,8844,tt0113497,en,Jumanji,17.015539,1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,NaN,None,English,Français,TriStar Pictures,559.0,Teitler Film,2550.0,Interscope Communications,10201.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,United States of America,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,False,0,15602,tt0113228,en,Grumpier Old Men,11.7129,1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,119050.0,Grumpy Old Men Collection,English,None,Warner Bros.,6194.0,Lancaster Gate,19464.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,United States of America,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,False,16000000,31357,tt0114885,en,Waiting to Exhale,3.859495,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,NaN,None,English,None,Twentieth Century Fox Film Corporation,306.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,United States of America,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,False,0,11862,tt0113041,en,Father of the Bride Part II,8.387519,1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,96871.0,Father of the Bride Collection,English,None,Sandollar Productions,5842.0,Touchstone Pictures,9195.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,United States of America,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [211]:
df_merged_movies.head()

,movie_id,movie_name,year,certificate,runtime,genre,rating,description,director,director_id,star,star_id,votes,gross(in $)
0,tt9114286,Black Panther: Wakanda Forever,2022,PG-13,161 min,"Action, Adventure, Drama",6.9,The people of Wakanda fight to protect their h...,Ryan Coogler,/name/nm3363032/,"Letitia Wright, \nLupita Nyong'o, \nDanai Guri...","/name/nm4004793/,/name/nm2143282/,/name/nm1775...",204835.0,NaN
1,tt1630029,Avatar: The Way of Water,2022,PG-13,192 min,"Action, Adventure, Fantasy",7.8,Jake Sully lives with his newfound family form...,James Cameron,/name/nm0000116/,"Sam Worthington, \nZoe Saldana, \nSigourney We...","/name/nm0941777/,/name/nm0757855/,/name/nm0000...",295119.0,NaN
2,tt5884796,Plane,2023,R,107 min,"Action, Thriller",6.5,A pilot finds himself caught in a war zone aft...,Jean-François Richet,/name/nm0724938/,"Gerard Butler, \nMike Colter, \nTony Goldwyn, ...","/name/nm0124930/,/name/nm1591496/,/name/nm0001...",26220.0,NaN
3,tt6710474,Everything Everywhere All at Once,2022,R,139 min,"Action, Adventure, Comedy",8.0,A middle-aged Chinese immigrant is swept up in...,"Dan Kwan, \nDaniel Scheinert",/name/nm3453283/,"Michelle Yeoh, \nStephanie Hsu, \nJamie Lee Cu...","/name/nm3215397/,/name/nm0000706/,/name/nm3513...",327858.0,NaN
4,tt5433140,Fast X,2023,NaN,NaN,"Action, Crime, Mystery",NaN,Dom Toretto and his family are targeted by the...,Louis Leterrier,/name/nm0504642/,"Vin Diesel, \nJordana Brewster, \nTyrese Gibso...","/name/nm0004874/,/name/nm0108287/,/name/nm0879...",NaN,NaN

In [212]:
df_tmdb_links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [213]:
df_merged_movies.head()

,movie_id,movie_name,year,certificate,runtime,genre,rating,description,director,director_id,star,star_id,votes,gross(in $)
0,tt9114286,Black Panther: Wakanda Forever,2022,PG-13,161 min,"Action, Adventure, Drama",6.9,The people of Wakanda fight to protect their h...,Ryan Coogler,/name/nm3363032/,"Letitia Wright, \nLupita Nyong'o, \nDanai Guri...","/name/nm4004793/,/name/nm2143282/,/name/nm1775...",204835.0,NaN
1,tt1630029,Avatar: The Way of Water,2022,PG-13,192 min,"Action, Adventure, Fantasy",7.8,Jake Sully lives with his newfound family form...,James Cameron,/name/nm0000116/,"Sam Worthington, \nZoe Saldana, \nSigourney We...","/name/nm0941777/,/name/nm0757855/,/name/nm0000...",295119.0,NaN
2,tt5884796,Plane,2023,R,107 min,"Action, Thriller",6.5,A pilot finds himself caught in a war zone aft...,Jean-François Richet,/name/nm0724938/,"Gerard Butler, \nMike Colter, \nTony Goldwyn, ...","/name/nm0124930/,/name/nm1591496/,/name/nm0001...",26220.0,NaN
3,tt6710474,Everything Everywhere All at Once,2022,R,139 min,"Action, Adventure, Comedy",8.0,A middle-aged Chinese immigrant is swept up in...,"Dan Kwan, \nDaniel Scheinert",/name/nm3453283/,"Michelle Yeoh, \nStephanie Hsu, \nJamie Lee Cu...","/name/nm3215397/,/name/nm0000706/,/name/nm3513...",327858.0,NaN
4,tt5433140,Fast X,2023,NaN,NaN,"Action, Crime, Mystery",NaN,Dom Toretto and his family are targeted by the...,Louis Leterrier,/name/nm0504642/,"Vin Diesel, \nJordana Brewster, \nTyrese Gibso...","/name/nm0004874/,/name/nm0108287/,/name/nm0879...",NaN,NaN

In [214]:
df_movie_meta['imdb_id'] = df_movie_meta['imdb_id'].astype(str).str[2:]
df_movie_meta.head()

,adult,budget,id,imdb_id,original_language,original_title,popularity,release_date,revenue,runtime,status,title,vote_average,vote_count,collection_id,collection_name,spoken_language_1,spoken_language_2,production_company_1_name,production_company_1_id,production_company_2_name,production_company_2_id,production_company_3_name,production_company_3_id,production_company_4_name,production_company_4_id,production_company_5_name,production_company_5_id,production_company_6_name,production_company_6_id,production_company_7_name,production_company_7_id,production_company_8_name,production_company_8_id,production_company_9_name,production_company_9_id,production_company_10_name,production_company_10_id,production_company_11_name,production_company_11_id,production_company_12_name,production_company_12_id,production_company_13_name,production_company_13_id,production_company_14_name,production_company_14_id,production_company_15_name,production_company_15_id,production_company_16_name,production_company_16_id,production_company_17_name,production_company_17_id,production_company_18_name,production_company_18_id,production_company_19_name,production_company_19_id,production_company_20_name,production_company_20_id,production_company_21_name,production_company_21_id,production_company_22_name,production_company_22_id,production_company_23_name,production_company_23_id,production_company_24_name,production_company_24_id,production_company_25_name,production_company_25_id,production_company_26_name,production_company_26_id,production_country_1_name,production_country_2_name,production_country_3_name,production_country_4_name,production_country_5_name,production_country_6_name,production_country_7_name,production_country_8_name,production_country_9_name,production_country_10_name,production_country_11_name,production_country_12_name,production_country_13_name,production_country_14_name,production_country_15_name,production_country_16_name,production_country_17_name,production_country_18_name,production_country_19_name,production_country_20_name,production_country_21_name,production_country_22_name,production_country_23_name,production_country_24_name,production_country_25_name,GoHands,Family,Telescene Film Group Productions,Thriller,Western,Foreign,Horror,Comedy,Adventure,War,Mystery,Sentai Filmworks,TV Movie,Pulser Productions,Vision View Entertainment,Music,Drama,Fantasy,Crime,BROSTA TV,Documentary,Science Fiction,Mardock Scramble Production Committee,Carousel Productions,Aniplex,Animation,Romance,Odyssey Media,The Cartel,Rogue State,History,Action
0,False,30000000,862,0114709,en,Toy Story,21.946943,1995-10-30,373554033.0,81.0,Released,Toy Story,7.7,5415.0,10194.0,Toy Story Collection,English,None,Pixar Animation Studios,3.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,United States of America,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0
1,False,65000000,8844,0113497,en,Jumanji,17.015539,1995-12-15,262797249.0,104.0,Released,Jumanji,6.9,2413.0,NaN,None,English,Français,TriStar Pictures,559.0,Teitler Film,2550.0,Interscope Communications,10201.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,United States of America,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,False,0,15602,0113228,en,Grumpier Old Men,11.7129,1995-12-22,0.0,101.0,Released,Grumpier Old Men,6.5,92.0,119050.0,Grumpy Old Men Collection,English,None,Warner Bros.,6194.0,Lancaster Gate,19464.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,United States of America,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3,False,16000000,31357,0114885,en,Waiting to Exhale,3.859495,1995-12-22,81452156.0,127.0,Released,Waiting to Exhale,6.1,34.0,NaN,None,English,None,Twentieth Century Fox Film Corporation,306.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,United States of America,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0
4,False,0,11862,0113041,en,Father of the Bride Part II,8.387519,1995-02-10,76578911.0,106.0,Released,Father of the Bride Part II,5.7,173.0,96871.0,Father of the Bride Collection,English,None,Sandollar Productions,5842.0,Touchstone Pictures,9195.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,United States of America,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [215]:
df_tmdb_links.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [216]:
df_tmdb_links.isna().sum()

movieId      0
imdbId       0
tmdbId     219
dtype: int64

In [217]:
df_merged_movies['movie_id'] = pd.to_numeric(df_merged_movies['movie_id'], errors='coerce', downcast='integer')
df_movie_meta['imdb_id']= pd.to_numeric(df_movie_meta['imdb_id'], errors='coerce', downcast='integer')

In [218]:
tmdb_df = pd.merge(df_tmdb_links, df_merged_movies, left_on='tmdbId', right_on='movie_id', how='inner')

In [224]:
tmdb_df.tail()

,movieId,imdbId,tmdbId,movie_id,movie_name,year,certificate,runtime,genre,rating,description,director,director_id,star,star_id,votes,gross(in $)
17107399,148093,4006044,NaN,NaN,Mirai Kara Ochitekita Otoko,1991,NaN,NaN,Adventure,NaN,Add a Plot,"Celine H. Higgins Lazarus, \nHiroshi Mikami",/name/nm14563496/,NaN,/name/nm0586345/,NaN,NaN
17107400,148093,4006044,NaN,NaN,The Black Scarab,NaN,NaN,NaN,Adventure,NaN,Add a Plot,NaN,NaN,NaN,NaN,NaN,NaN
17107401,148093,4006044,NaN,NaN,Kung Fu Dog,2019,NaN,96 min,"Animation, Adventure",NaN,The Kung Fu Masters are back. When an evil dog...,Leon Ding,/name/nm5694753/,NaN,NaN,NaN,NaN
17107402,148093,4006044,NaN,NaN,How to Train Your Dragon Live-Action,2025,NaN,NaN,Adventure,NaN,Follows a young Viking as he aspires to hunt d...,Dean DeBlois,/name/nm0213450/,NaN,NaN,NaN,NaN
17107403,148093,4006044,NaN,NaN,Revolver Lily,NaN,NaN,NaN,"Action, Adventure",NaN,"Takes place in 1924 and centres on Yuri, who k...",Isao Yukisada,/name/nm0950834/,NaN,NaN,NaN,NaN

In [225]:
tmdb_df = tmdb_df.reset_index(drop=True)
df_movie_meta = df_movie_meta.reset_index(drop=True)

In [223]:
movie_df.tail()

,movieId,imdbId,tmdbId,movie_id,movie_name,year,certificate,runtime_x,genre,rating,description,director,director_id,star,star_id,votes,gross(in $),adult,budget,id,imdb_id,original_language,original_title,popularity,release_date,revenue,runtime_y,status,title,vote_average,vote_count,collection_id,collection_name,spoken_language_1,spoken_language_2,production_company_1_name,production_company_1_id,production_company_2_name,production_company_2_id,production_company_3_name,production_company_3_id,production_company_4_name,production_company_4_id,production_company_5_name,production_company_5_id,production_company_6_name,production_company_6_id,production_company_7_name,production_company_7_id,production_company_8_name,production_company_8_id,production_company_9_name,production_company_9_id,production_company_10_name,production_company_10_id,production_company_11_name,production_company_11_id,production_company_12_name,production_company_12_id,production_company_13_name,production_company_13_id,production_company_14_name,production_company_14_id,production_company_15_name,production_company_15_id,production_company_16_name,production_company_16_id,production_company_17_name,production_company_17_id,production_company_18_name,production_company_18_id,production_company_19_name,production_company_19_id,production_company_20_name,production_company_20_id,production_company_21_name,production_company_21_id,production_company_22_name,production_company_22_id,production_company_23_name,production_company_23_id,production_company_24_name,production_company_24_id,production_company_25_name,production_company_25_id,production_company_26_name,production_company_26_id,production_country_1_name,production_country_2_name,production_country_3_name,production_country_4_name,production_country_5_name,production_country_6_name,production_country_7_name,production_country_8_name,production_country_9_name,production_country_10_name,production_country_11_name,production_country_12_name,production_country_13_name,production_country_14_name,production_country_15_name,production_country_16_name,production_country_17_name,production_country_18_name,production_country_19_name,production_country_20_name,production_country_21_name,production_country_22_name,production_country_23_name,production_country_24_name,production_country_25_name,GoHands,Family,Telescene Film Group Productions,Thriller,Western,Foreign,Horror,Comedy,Adventure,War,Mystery,Sentai Filmworks,TV Movie,Pulser Productions,Vision View Entertainment,Music,Drama,Fantasy,Crime,BROSTA TV,Documentary,Science Fiction,Mardock Scramble Production Committee,Carousel Productions,Aniplex,Animation,Romance,Odyssey Media,The Cartel,Rogue State,History,Action
17152865,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0,439050,6209470.0,fa,رگ خواب,0.072051,NaN,0.0,90.0,Released,Subdue,4.0,1.0,NaN,None,فارسی,None,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,Iran,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17152866,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0,111109,2028550.0,tl,Siglo ng Pagluluwal,0.178241,2011-11-17,0.0,360.0,Released,Century of Birthing,9.0,3.0,NaN,None,,None,Sine Olivia,19653.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,Philippines,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17152867,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0,67758,303758.0,en,Betrayal,0.903007,2003-08-01,0.0,90.0,Released,Betrayal,3.8,6.0,NaN,None,English,None,American World Pictures,6165.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,United States of America,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
17152868,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0,227506,8536.0,en,Satana likuyushchiy,0.003503,1917-10-21,0.0,87.0,Released,Satan Triumphant,0.0,0.0,NaN,None,None,None,Yermoliev,88753.0,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,Russia,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
17152869,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,0,461257,6980792.0,en,Queerama,0.163015,2017-06-09,0.0,75.0,Released,Queerama,0.0,0.0,NaN,None,English,None,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,None,NaN,United Kingdom,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0